.button {
    display: flex;
    justify-content: center;
    margin:   10px 50px;
    
text-decoration: none;
   padding: 15px 25px;
  
  }
  .btn{
    color: white;
    border-radius: 5px;
    background-color: #577ee0;
  }
  /* .button a:hover{
    background-color:rgb(114, 113, 113);
    margin: 0 10px;
  }  */

.button a{
  background-color:#364E8D;
  margin: 0 10px;
}

.botonf a{
  background-color:#364E8D;
  padding: 10px 10px;
  color: white;
  margin:   30px 50px;
  border-radius: 5px;
  text-decoration: none;

}

.botonf a:hover{
  background-color: #4E8D36;
  color: white;
}
.boton-enviar{
  background-color:#364E8D;
  color: white;
}
.boton-enviar:hover{
  background-color: #4E8D36;
}

/* .masthead{
  display: none;
}
h4{
  margin-top: 13rem;
} */